on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string
      push:
        required: true
        type: boolean
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      push:
        required: true
        type: boolean

env:
  registry: "ghcr.io"

jobs:
  dapper-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write 
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Run dapper
      run: make ci

    - name: Login to ghcr
      uses: docker/login-action@v3
      if: ${{ inputs.push == true }}
      with:
        registry: ${{ env.registry }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.registry }}/${{ github.repository }}
        labels: |
          org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}

    - name: Docker build
      uses: docker/build-push-action@v6
      with:
        provenance: false
        context: .
        platforms: linux/amd64,linux/arm64
        file: package/Dockerfile
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        push: ${{ inputs.push }}
